{% extends 'base.html' %}

{% block conteudo %}
 <h1 class="mt-5">{{ contatos.nome}} {{ contatos.sobrenome}}</h1>
        <dl>
          <dt>ID</dt>
          <dd>{{ contatos.id}}</dd>

          <dt>Telefone</dt>
          <dd>{{ contatos.telefone}}</dd>

          <dt>E-mail</dt>
          <dd>{{contatos.email}}</dd>

          <dt>Data criação</dt>
          <dd>{{contatos.data_criacao|date:'d/m/y h:i:s'}}</dd>
          <!--O |date:'d/m/y' é para filtrar a data para formato portugues.-->

          <dt>Categoria</dt>
          <dd>{{contatos.categoria}}</dd>

          <dt>Descrição</dt>
          <dd>
              {{contatos.descricao}}
          </dd>
        </dl>
{% endblock %}